*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color:#353839;
    line-height: 5rem;
    height: 5rem;
    color:white;
    text-transform: uppercase;
}

.choice{
    height:165px;
    width:165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}
.choice:hover{
      background-color:#353839;
      cursor:pointer;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;
    margin-top: 2rem;
}
.score{
      font-size: 2rem;
}

.mesg{
    background-color:#353839 ;
    color:white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.cont-mes{
    margin-top: 5rem;
}