.d{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.evnt{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.keya{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.tab{
    border:5px solid black;
    padding: 10px;
}

.container{
    padding:20px;
    margin:20px;
    background-color: antiquewhite;

}
.child_container{
    padding:20px;
    margin:20px;
    background-color: rgb(146, 116, 72);
}
.child{
    padding:20px;
    margin:20px;
    background-color: rgb(197, 218, 218);
    cursor: pointer;
}