.d{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.evnt{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.key{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border:2px solid black;
    color:red;
}
.tab{
    border:5px solid black;
    padding: 10px;
}