*{
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height:100vh;

}

.container{
 background-color: #fff;
 padding:2rem;
 border-radius: 1rem;
 min-height:45vh;
 width:40vh;

}
form{
    margin-top:2rem;
}

form  input , msg,button{
    width:100%;
    border:none;
    outline:none;
    border: 0.5rem;

}

input{
    border:1px solid lightgray;
    font-size: 1rem;
    height:3rem;
    padding-left:0.5rem ;
}
 select{
 width:100%;
 font-size: 1rem;
 margin: auto;
   overflow: visible;
   margin-top: 100px;
    position: relative;
}

.dropdown{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  
}

.select-container img{
width:2rem;

}
.select-container{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border:1px solid greylight;
    width:6rem;
}
.select-container i{
  font-size: 2rem;
  margin-top: 2em;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button {
    font-size: 1.1rem;
    padding: auto;
    background-color:darkolivegreen;
    color:#fff;
    height:3rem;
    cursor:pointer;



}